<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>io.github.satr.jweb.webshop.gwt.main.Main MainService</servlet-name>
        <servlet-class>io.github.satr.jweb.webshop.gwt.main.server.MainServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>io.github.satr.jweb.webshop.gwt.main.Main AccountService</servlet-name>
        <servlet-class>io.github.satr.jweb.webshop.gwt.main.server.account.AccountServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>io.github.satr.jweb.webshop.gwt.main.Main MainService</servlet-name>
        <url-pattern>/Main/MainService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>io.github.satr.jweb.webshop.gwt.main.Main AccountService</servlet-name>
        <url-pattern>/Main/AccountService</url-pattern>
    </servlet-mapping>
</web-app>